%aside.threecol
  %section> &nbsp;

%section(class="ninecol last")
  %h2 Interested? Get a hold of me.
  %p If you are interested in hiring me, or saying anything at all, feel free to use the form below.
  %form{:action => "/contact_form", :method => "post"}
    %p
      %input{:name => "name", :type => "text", :placeholder => "Name"}/
    %p
      %input{:name => "email", :type => "email", :placeholder => "Email"}/
    %p
      %input{:name => "subject", :type => "text", :placeholder => "Subject"}/
    %p
      %textarea(name="body")
    %p
      %input{:type => "submit", :value => "Send"}

  %p If you don't like forms, you can talk to me on Twitter as <a href="http://twitter.com/arianxhezairi">@arianxhezairi</a> or send me an email at <a href="#">arian [at] xhezairi [dot] com</a>.
