				<aside>
					<!-- Nothing here... -->
				</aside>
				<section id="content">
					<h2>Success!</h2>
					<p>Sent! I'll get back to you soon! In the meantime, <a href="/contact">go back to where you came from</a>.</p>
				</section>
