				<aside class="threecol"> 
					<section> 
						&nbsp;
					</section> 
				</aside> 
				<section class="ninecol last"> 
					<h2>Interested? Get a hold of me.</h2> 
					<p>If you are interested in hiring me, or saying anything at all, feel free to use the form below.</p> 
					<form action="/contact" method="post"> 
						<p><input name="name" type="text" placeholder="Name" /></p> 
						<p><input name="email" type="email" placeholder="Email" /></p> 
						<p><input name="subject" type="text" placeholder="Subject" /></p> 
						<p><textarea name="body"></textarea></p> 
						<p><input type="submit" value="Send" /></p> 
					</form> 
					<p>If you don't like forms, you can talk to me on Twitter as <a href="http://twitter.com/arianxhezairi">@arianxhezairi</a> or send me an email at <a href="#">arian [at] xhezairi [dot] com</a>.</p> 
				</section> 