%aside.threecol
  %section
    %p
      %img{:alt => "Arian Xhezairi", :src => "img/profile.jpg" }
%section(class="ninecol last")
  %h2 Welcome to my humble abode.
  %p
    Hi. My name is Arian Xhezairi, I'm a freelance web designer and developer from Prizren, Kosova, and the lead developer behind <a href="http://chyrp.net" title="Chyrp">Chyrp</a>, the extra leightweight blogging engine. My specialties include:</p> 
  %ul
    %li Web design and development
    %li Web application development
    %li 
      CMS custom development (<a href="http://chyrp.net">Chyrp,
      %a{:href => "http://wordpress.org"} Wordpress, 
      %a{:href => "http://expressionengine.com"} ExpressionEngine, 
      <a href="http://tumblr.com">Tumblr</a>)
  %p
    I am a technology evangelist with a bunch of CISCO certificates, and more than 7 years doing this web thing. A trainer who spoke in couple of local mini-cons, appeared in national public TVs and can stand in front of an audience like a fearless fictional superhero. My family name is pronounced <strong>dʒezai:ri</strong>, I am Albanian and worked for Ogilvy Interactive.
  %p
    I am fluent in several languages, including HTML5, CSS3, PHP5, SQL, and Ruby. JavaScript is not my favorite language, but I know enough of jQuery to tackle every aspect of front-end development, from DOM manipulation to the cool mind-blowing effects.<br /> Oh, and AJAX too.
  %p I hold a BSc in Computer Science and Engineering, majoring in Relational Database Management Systems.
  %br/
  %hr/
  %p
    This site is run on <a href="http://www.sinatrarb.com">Sinatra</a> with <a href="http://haml-lang.com">HAML</a>, and hosted on <a href="http://heroku.com">Heroku</a>. It uses <a href="http://code.google.com/webfonts/family?family=Droid+Sans">Droid Sans</a> and <a href="http://code.google.com/webfonts/family?family=Droid+Serif">Droid Serif</a>, both from the <a href="http://code.google.com/webfonts">Google Font Directory</a>. This site was totally ripped off <a href="http://ethan.heroku.com/">Ethan Turkeltaub</a> (with slight changes) and is <a href="http://github.com/tokolo/arian">on GitHub</a> under the Creative Commons 3.0 Share-Alike license (basically, do what you will, but open-source yours as well). It is best viewed in all modern browsers.