%aside.threecol
  %section
    %nav
      %ul
        %li
          %a(href="#xhezairi") Xhezairi
        %li
          %a(href="#gentivs") Gentivs
        %li
          %a(href="#poenta") Poenta
        %li
          %a(href="#shkurteshqip") Shkurt e Shqip

    %p These are some selected works.

%section(class="ninecol last")
  %h3#work Selected Works
  %article.row
    %section.threecol
      %h2
        %a(name="xhezairi") Xhezairi.com
      %p Concept, design and development of my personal site, this one you currently are viewing. Fully hand written HTML5 and CSS3 semantic code that validates. <a href="http://xhezairi.com">View Project &rarr;</a>
    %section(class="ninecol last")
      %p
        %img{:alt => "Xhezairi.com", :src => "img/work/xhezairi.jpg"}/

  %article.row
    %section.ninecol
      %p
        %img{:alt => "Gentivs", :src => "img/work/gentivs.jpg"}/
    %section(class="threecol last")
      %h2
        %a(name="gentivs") Gentivs
      %p A luxury brand from Neuchâtel Switzerland. Its identity in the world of luxury was created by interweaving the newest style and the revival of antic values. <a href="http://www.gentivs.com">View Project &rarr;</a>

  %article.row
    %section.threecol
      %h2
        %a(name="poenta") Poenta
      %p Poenta web site is a one-page portfolio design which covers all the necessities required for a short but meaningful brand represantation. <a href="http://www.poentastudios.com">View Project &rarr;</a>
    %section(class="ninecol last")
      %p
        %img{:alt => "Poenta", :src => "img/work/poenta.jpg"}/

  %article.row
    %section.ninecol
      %p
        %img{:alt => "Shkurt e Shqip", :src => "img/work/shkurteshqip.jpg"}/
    %section(class="threecol last")
      %h2
        %a(name="shkurteshqip") Shkurt e Shqip
      %p A WordPress Theme that was never released to the public. Was meant to be used on my Albanian blog. <a href="http://www.shkurteshqip.com">View Project &rarr;</a>
  %p#top
    %a(href="#") Top