				<aside class="threecol"> 
					<section> 
						<nav> 
							<ul> 
								<li><a href="#xhezairi">Xhezairi</a></li> 
								<li><a href="#gentivs">Gentivs</a></li> 
								<li><a href="#poenta">Poenta</a></li> 
								<li><a href="#shkurteshqip">Shkurt e Shqip</a></li> 
							</ul> 
						</nav> 
						<p>These are some selected works.</p> 
					</section> 
				</aside> 
				<section class="ninecol last"> 
					<h3 id="work">Selected Works</h3> 
					<article class="row"> 
						<section class="threecol"> 
							<h2><a name="xhezairi">Xhezairi.com</a></h2> 
							<p>Concept, design and development of my personal site, this one you currently are viewing. Fully hand written HTML5 and CSS3 semantic code that validates. <a href="http://ride4justice.com">View Project &rarr;</a></p> 
						</section> 
						<section class="ninecol last"> 
							<p><img alt="Xhezairi.com" src="img/work/xhezairi.jpg" /></p> 
						</section> 
					</article> 
					<article class="row"> 
						<section class="ninecol"> 
							<p><img alt="Gentivs" src="img/work/gentivs.jpg" /></p> 
						</section> 
						<section class="threecol last"> 
							<h2><a name="gentivs">Gentivs</a></h2> 
							<p>A luxury brand from Neuchâtel Switzerland. Its identity in the world of luxury was created by interweaving the newest style and the revival of antic values. <a href="http://www.gentivs.com">View Project &rarr;</a></p> 
						</section> 
					</article> 
					<article class="row"> 
						<section class="threecol"> 
							<h2><a name="poenta">Poenta</a></h2> 
							<p>Poenta web site is a one-page portfolio design which covers all the necessities required for a short but meaningful brand represantation. <a href="http://www.poentastudios.com">View Project &rarr;</a></p> 
						</section> 
						<section class="ninecol last"> 
							<p><img alt="Poenta" src="img/work/poenta.jpg" /></p> 
						</section> 
					</article> 
					<article class="row"> 
						<section class="ninecol"> 
							<p><img alt="Shkurt e Shqip" src="img/work/shkurteshqip.jpg" /></p> 
						</section> 
						<section class="threecol last"> 
							<h2><a name="shkurteshqip">Shkurt e Shqip</a></h2> 
							<p>A WordPress Theme that was never released to the public. Was meant to be used on my Albanian blog. <a href="http://www.shkurteshqip.com">View Project &rarr;</a></p> 
						</section> 
					</article> 
					<p id="top"><a href="#">Top</a></p> 
				</section>